/* Setting up box-sizing to be border box for all elements*/
*, *::before, *::after { 
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*styling p*/
p {
    color: magenta;
    display: inline-flex;
    width: 200px;
    height: 70px;
    font-size: 50px;
    margin: 0;
    justify-content: center;
}

/*Styled to hide*/
.hide   {
    display: none;
}

/*Style body of webpage*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    background-color: black;
}

/*Style what is wrapping our buttons*/
.controls {
    justify-content: center;
    align-items: center;
    display: flex; 
}

/*Style up the container element to give a nice card look effect*/ 
.container{
    box-shadow: 0 0 10px 2px;
    width: 800px;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    max-width: 80%;
}

/*Styled all buttons*/
.btn {
    padding: 5px 10px;
    font-weight: bold;
    outline: double; color: black;
    border-radius: 5px;
    background-color: gray;
    color: black;
}

/*Added color for when user hovers over choice*/ 
.btn:hover{
    border-color:red;
}

/*Added styling to start and next buttons*/
.start-btn, .next-btn {
    font-weight: bold;
    font-size: xx-large;
}
/*Created two columns for multiple choice questions rather than a one column listand styled*/
.gridbtn {
    grid-template-columns: repeat(2,auto);
    display: grid;
    margin: 20px 0;
    gap: 10px;
}
/*Styling question format*/
#question {
    font-weight:bold;
}
/*styling correct answer so that user is informed whether incorrect or correct*/
.btn.correct {
    border-color: red;
}